extends layout
block content
    h1 Welcome to the PicNdoc Server API
    br
    div()
      iframe(src="https://docs.google.com/document/d/1ruqDxzHlUVAGpoaXJLYgw5MTJkzvIP5wefLmknJIzF4/pub?embedded=true",height="1380", width="90%" )